@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Восстановление доступа";
}

<div class="background-area">
    <div class="container">
        <div class="row card hoverable">
            <div class="card-content ">
                <h4 class="center blue-text form-title">Восстановление доступа</h4>
                <h6 class="center red-text">@Model.ErrorMessage</h6>
                <form asp-controller="Auth" asp-action="ForgotPassword" method="post" class="row s12">
                    <div class="col s12">
                        <div class="input-field">
                            <label>Email</label>
                            <input type="email" asp-for="Email" placeholder="Введите ваш email*" required>
                            <span class="red-text" asp-validation-for="Email"></span>
                        </div>
                    </div>                   
                    <div class="col s12 center">
                        <button type="submit" class="btn btn-large waves-effect waves-light green">
                            Отправить
                        </button>
                    </div>
                    <div class="col s12 center first-nav-link">
                        <a asp-controller="Auth" asp-action="Register" 
                            asp-route-returnUrl="@Model.ReturnUrl"
                            class="form-link">Еще не зарегистрированы? Создайте аккаунт!</a>
                    </div>
                    <div class="col s12 center first-nav-link">
                        <a asp-controller="Auth" asp-action="Login"
                            asp-route-returnUrl="@Model.ReturnUrl"
                            class="form-link">Уже зарегистрированы? Войдите в свой аккаунт!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>