@model RegisterViewModel

@{
    ViewData["Title"] = "Регистрация";
}

<div class="background-area">
    <div class="container">
        <div class="row card hoverable">
            <div class="card-content ">
                <h4 class="center blue-text form-title">Регистрация</h4>
                <h6 class="center red-text">@Model.ErrorMessage</h6>
                <form asp-controller="Auth" asp-action="Register" method="post" class="row s12">
                     <input type="hidden" asp-for="ReturnUrl" />
                     <div class="col s12">
                        <div class="input-field">
                            <label>Имя</label>
                            <input type="text" asp-for="FirstName" placeholder="Введите ваше имя*" required>
                            <span class="red-text" asp-validation-for="FirstName"></span>
                        </div>
                     </div>
                     <div class="col s12">
                        <div class="input-field">
                            <label>Фамилия</label>
                            <input type="text" asp-for="LastName" placeholder="Введите вашу фамилию*" required>
                            <span class="red-text" asp-validation-for="LastName"></span>
                        </div>
                     </div>
                     <div class="col s12">
                        <div class="input-field">
                            <label>Email</label>
                            <input type="email" asp-for="Email" placeholder="Введите ваш email*" required>
                            <span class="red-text" asp-validation-for="Email"></span>
                        </div>
                     </div>
                     <div class="col s12">
                        <div class="input-field">
                            <label>Пароль</label>
                            <input type="password" asp-for="Password" placeholder="Введите ваш пароль*" required>
                            <span class="red-text" asp-validation-for="Password"></span>
                        </div>
                     </div>
                     <div class="col s12">
                        <div class="input-field">
                            <label>Подтверждение пароля</label>
                            <input type="password" asp-for="ConfirmedPassword" placeholder="Повторите ваш пароль*" required>
                            <span class="red-text" asp-validation-for="ConfirmedPassword"></span>
                        </div>
                     </div>
                     <div class="col s12 center">
                        <button type="submit" class="btn btn-large waves-effect waves-light green">
                            Зарегистрироваться
                        </button>
                     </div>
                     <div class="col s12 center">
                        <a class="form-link" href="/auth/login">Уже зарегистрированы? Войдите в свой аккаунт!</a>
                     </div>
                </form>
            </div>
        </div>
    </div>
</div>