@{
    ViewData["Title"] = "Успешное восстановление пароля";
}
 
<center>
    <h2>
        @ViewData["Title"]
    </h2>
    <p>
        Ваш пароль успешно восстановлен. Для входа в приложение авторизуйтесь через соовтветствующую опцию на 
        <a href="http://localhost:3000/">главной странице</a>.
    </p>
</center>